Scripts/__pycache__/Controllers.cpython-310.pyc
Scripts/__pycache__/DataBase.cpython-310.pyc
Scripts/__pycache__/OTA.cpython-310.pyc
Scripts/__pycache__/ParseIncomingMesseage.cpython-310.pyc
Scripts/__pycache__/Controllers.cpython-311.pyc
Scripts/__pycache__/DataBase.cpython-311.pyc
Scripts/__pycache__/OTA.cpython-311.pyc
Scripts/__pycache__/ParseIncomingMesseage.cpython-311.pyc
Scripts/__pycache__/OTA.cpython-311.pyc
Scripts/__pycache__/Controllers.cpython-36.pyc
Scripts/__pycache__/DataBase.cpython-36.pyc
Scripts/__pycache__/OTA.cpython-36.pyc
Scripts/__pycache__/ParseIncomingMesseage.cpython-36.pyc
Scripts/__pycache__/UserHandler.cpython-36.pyc
Scripts/__pycache__/UserHandler.cpython-310.pyc
Scripts/__pycache__/AdminBoard.cpython-36.pyc
